.banner {
  background-image: url("../../public/Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  justify-content: space-around;
}
.banner_text {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
