@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&family=Source+Sans+Pro:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.App {
  background-color: #14161a;
  /* color: white; */
  min-height: 100vh;
}
.navbar-brand {
  color: white !important;
}
.nav-link {
  color: white !important;
}
